<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true">

  <!--[設定] 寫入目標-->
  <targets>
    <!-- write logs to file  -->
    <!--<target xsi:type="File" name="FileNormal"
      fileName="D:\Logs\MyWebsite\${date:format=yyyy-MM}\nlog-all_${shortdate}.log"
      layout="${date:format=MM-dd HH:mm:ss}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />-->
    <target xsi:type="File" name="FileNormal"
      fileName="D:\Logs\MyVueCoreTemplate\${date:format=yyyy-MM}\nlog_${shortdate}.log"
      layout="${date:format=MM-dd HH\:mm\:ss}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${callsite}|行${callsite-linenumber}|${message} ${exception}" />
    <target xsi:type="File" name="FileFatal"
      fileName="D:\Logs\MyVueCoreTemplate\${date:format=yyyy-MM}\nlog_${shortdate}_Fatal.log"
      layout="${date:format=MM-dd HH\:mm\:ss}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${callsite}|行${callsite-linenumber}|${message} ${exception}" />
  </targets>

  <!--[設定] 紀錄規則-->
  <rules>
    <!--<logger name="*" levels="Info" writeTo="FileNormal" />-->
    <logger name="*" levels="Trace,Debug,Warn" writeTo="FileNormal" />
    <logger name="*" levels="Error,Fatal" writeTo="FileFatal" />
    <!--<logger name="*" minlevel="Trace" writeTo="ALL" />-->
  </rules>
</nlog>